<h4 class="text-center">Register to embrace a new world!</h4>

<form [formGroup]="signupForm" class="form mt-4" (submit)="signup()">
  <div class="form-group">
    <input #emailInput
      formControlName="email"
      placeholder="email"
      class="form-control"
      autofocus
    />
    <app-vmessage
      *ngIf="signupForm.get('email').getError('required')"
      text="E-mail is required!"
    ></app-vmessage>
    <app-vmessage
      *ngIf="signupForm.get('email').getError('email')"
      text="Invalid e-mail!"
    ></app-vmessage>
  </div>

  <div class="form-group">
    <input
      formControlName="fullName"
      placeholder="full name"
      class="form-control"
    />
    <app-vmessage
      *ngIf="signupForm.get('fullName').getError('required')"
      text="Full name is required!"
    ></app-vmessage>
    <app-vmessage
      *ngIf="signupForm.get('fullName').getError('minlength')"
      text="Minimum length is 2!"
    ></app-vmessage>
    <app-vmessage
      *ngIf="signupForm.get('fullName').getError('maxlength')"
      text="Maximum length is 40!"
    ></app-vmessage>
  </div>

  <div class="form-group">
    <input
      formControlName="userName"
      placeholder="user name"
      class="form-control"
    />
    <app-vmessage
      *ngIf="signupForm.get('userName').getError('required')"
      text="userName is required!"
    ></app-vmessage>
    <app-vmessage
      *ngIf="signupForm.get('userName').getError('minlength')"
      text="Minimum length is 2!"
    ></app-vmessage>
    <app-vmessage
      *ngIf="signupForm.get('userName').getError('maxlength')"
      text="Maximum length is 30!"
    ></app-vmessage>
    <app-vmessage
      *ngIf="signupForm.get('userName').getError('lowerCase')"
      text="Must be lower case!"
    ></app-vmessage>
    <app-vmessage
      *ngIf="signupForm.get('userName').getError('userNameTaken')"
      text="userName already taken!"
    ></app-vmessage>
    <small *ngIf="signupForm.get('userName').valid || signupForm.pending" class="text-success">User available</small>
  </div>

  <div class="form-group">
    <input
      formControlName="password"
      type="password"
      placeholder="password"
      class="form-control"
    />
    <app-vmessage
      *ngIf="signupForm.get('password').getError('required')"
      text="Password is required!"
    ></app-vmessage>
    <app-vmessage
      *ngIf="signupForm.get('password').getError('minlength')"
      text="Minimum length is 8!"
    ></app-vmessage>
    <app-vmessage
      *ngIf="signupForm.get('password').getError('maxlength')"
      text="Maximum length is 14!"
    ></app-vmessage>
  </div>

  <button [disabled]="signupForm.invalid" class="btn btn-primary btn-block">
    Register
  </button>

  <p>Already a user?<a [routerLink]="['']">Sign In!</a></p>
</form>
